:root {
  --el-color-primary: #3a7dff !important;
  --el-table-header-bg-color: #edf0f4 !important;
}
.el-table {
  --el-table-header-bg-color: #edf0f4 !important;
  --el-table-row-hover-bg-color: rgba(226, 236, 255, 1) !important;
  --el-table-header-text-color: #333333 !important;
  --el-table-text-color: #333333 !important;
  .el-table__inner-wrapper {
    &::before {
      display: none;
    }
  }
  th.el-table__cell {
    font-weight: 600 !important;
  }
  tr.el-table__row {
    height: 68px;
    td.el-table__cell {
      border: none !important;
      border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
      font-weight: 400 !important;
    }
  }
}

.el-dialog {
  --el-dialog-width: 50%;
  --el-dialog-margin-top: 15vh;
  --el-dialog-bg-color: var(--el-bg-color);
  --el-dialog-box-shadow: var(--el-box-shadow);
  --el-dialog-title-font-size: var(--el-font-size-large);
  --el-dialog-content-font-size: 14px;
  --el-dialog-font-line-height: var(--el-font-line-height-primary);
  --el-dialog-padding-primary: 0px;
  --el-dialog-border-radius: var(--el-border-radius-base);
  background: var(--el-dialog-bg-color);
  border-radius: var(--el-dialog-border-radius);
  box-shadow: var(--el-dialog-box-shadow);
  box-sizing: border-box;
  margin: var(--el-dialog-margin-top, 15vh) auto 50px;
  overflow-wrap: break-word;
  padding: var(--el-dialog-padding-primary);
  position: relative;
  width: var(--el-dialog-width, 50%);
}
.el-form {
  .el-form-item__label {
    --el-text-color-regular: #333;
  }
}

/* 输入框自动输入时的样式 */
.el-input {
  .el-input__wrapper {
    .el-input__inner {
      box-shadow: inset 0 0 0 1000px var(--el-input-bg-color) !important;
      --el-input-text-color: #333;
    }
  }
  &.is-disabled {
    .el-input__wrapper {
      .el-input__inner {
        box-shadow: inset 0 0 0 1000px var(--el-disabled-border-color) inset !important;
      }
    }
  }
}

.el-overlay-dialog {
  overflow: hidden;
}

.el-button:focus-visible{
  outline: 0;
}